node-red/flows.json
[{"id":"2370baa7.398a9e","type":"tab","label":"Uplys Auto","disabled":true,"info":""},{"id":"93f17a64.30439","type":"tab","label":"Udendørslys","disabled":true,"info":""},{"id":"63aab906.2dd118","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"4313e1a2.1e81c","type":"server","z":"","name":"Home Assistant","legacy":false,"hassio":true,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":false,"cacheJson":true},{"id":"ce7eaf64.6ef578","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"67c9887e.1c12c","type":"mqtt-broker","z":"","name":"","broker":"192.168.1.170","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","willTopic":"","willQos":"0","willRetain":"false","willPayload":""},{"id":"46d13812.06dc4","type":"sacn-config","z":"","hostOrUniverse":"192.168.1.170","port":"5568"},{"id":"f2a69a0b.248698","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"1a0827df.1f0c98","type":"ui_group","z":"","name":"Default","tab":"f2a69a0b.248698","disp":true,"width":"6","collapse":false},{"id":"295328b2.da92d","type":"position-config","z":"","name":"Vejle","isValide":"true","longitude":"0","latitude":"0","angleType":"deg","timeZoneOffset":"99","timeZoneDST":"0","stateTimeFormat":"3","stateDateFormat":"12"},{"id":"f75c58de.c9a358","type":"ikea-connection","z":null,"address":"","name":""},{"id":"cca2d62d.590c9","type":"hue-bridge","z":"","name":"Philips hue","bridge":"192.168.1.150","key":"G2fqllVpXWJNanRsmVpvu-SnOojBkTsHbJzH5EsM","interval":"3000","disableupdates":false},{"id":"a7d360e9.a9cb3","type":"deconz-server","z":"","name":"Deconz","ip":"192.168.1.170","port":"8081","apikey":"","ws_port":"40850","secure":false,"polling":"15"},{"id":"d0bdf24e.98e9c","type":"api-call-service","z":"2370baa7.398a9e","name":"Gang UpLys On","server":"4313e1a2.1e81c","version":1,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.wled","data":"{\"brightness_pct\": {{payload}}, \"kelvin\":\"3800\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1060,"y":560,"wires":[["5e3bf90c.ab5ea8"]]},{"id":"5e3bf90c.ab5ea8","type":"debug","z":"2370baa7.398a9e","d":true,"name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1150,"y":440,"wires":[]},{"id":"e70b1ec8.c7feb","type":"eztimer","z":"2370baa7.398a9e","name":"","autoname":"nauticalDusk - nadir","tag":"eztimer - Nat","suspended":false,"sendEventsOnSuspend":false,"lat":"55.716993","lon":"9.613203","timerType":"1","startupMessage":true,"ontype":"1","ontimesun":"nauticalDusk","ontimetod":"17:00","onproperty":"payload","onvaluetype":"str","onvalue":"95","onoffset":"-43","onrandomoffset":0,"onsuppressrepeats":false,"offtype":"1","offtimesun":"nadir","offtimetod":"dusk","offduration":"00:01:00","offproperty":"payload","offvaluetype":"num","offvalue":"","offoffset":"","offrandomoffset":0,"offsuppressrepeats":false,"mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":true,"sun":true,"x":300,"y":700,"wires":[["86f3fe42.4f13b"]],"outputLabels":["05"]},{"id":"3872fb3f.7844bc","type":"eztimer","z":"2370baa7.398a9e","name":"","autoname":"dusk - nauticalDusk","tag":"eztimer - Nat","suspended":false,"sendEventsOnSuspend":false,"lat":"55.716993","lon":"9.613203","timerType":"1","startupMessage":true,"ontype":"1","ontimesun":"dusk","ontimetod":"17:00","onproperty":"payload","onvaluetype":"str","onvalue":"75","onoffset":0,"onrandomoffset":0,"onsuppressrepeats":false,"offtype":"1","offtimesun":"nauticalDusk","offtimetod":"dusk","offduration":"00:01:00","offproperty":"payload","offvaluetype":"num","offvalue":"0","offoffset":0,"offrandomoffset":0,"offsuppressrepeats":false,"mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":true,"sun":true,"x":300,"y":640,"wires":[["c787c6be.8f5cb"]],"outputLabels":["04"]},{"id":"9b2025ad.368b28","type":"eztimer","z":"2370baa7.398a9e","name":"","autoname":"sunset - dusk","tag":"eztimer - Nat","suspended":false,"sendEventsOnSuspend":false,"lat":"55.716993","lon":"9.613203","timerType":"1","startupMessage":true,"ontype":"1","ontimesun":"sunset","ontimetod":"17:00","onproperty":"payload","onvaluetype":"str","onvalue":"50","onoffset":0,"onrandomoffset":0,"onsuppressrepeats":false,"offtype":"1","offtimesun":"dusk","offtimetod":"dusk","offduration":"00:01:00","offproperty":"payload","offvaluetype":"num","offvalue":"0","offoffset":0,"offrandomoffset":0,"offsuppressrepeats":false,"mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":true,"sun":true,"x":280,"y":580,"wires":[["35289361.6a912c"]],"outputLabels":["03"]},{"id":"297f9b8a.02947c","type":"eztimer","z":"2370baa7.398a9e","name":"","autoname":"sunsetStart - sunset","tag":"eztimer - Nat","suspended":false,"sendEventsOnSuspend":false,"lat":"55.717159","lon":"9.613203","timerType":"1","startupMessage":true,"ontype":"1","ontimesun":"sunsetStart","ontimetod":"17:00","onproperty":"payload","onvaluetype":"str","onvalue":"25","onoffset":0,"onrandomoffset":0,"onsuppressrepeats":true,"offtype":"1","offtimesun":"sunset","offtimetod":"dusk","offduration":"00:01:00","offproperty":"payload","offvaluetype":"num","offvalue":"0","offoffset":0,"offrandomoffset":0,"offsuppressrepeats":false,"mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":true,"sun":true,"x":300,"y":520,"wires":[["33dc0585.a1ef0a"]],"outputLabels":["02"]},{"id":"51a118bf.7ac208","type":"eztimer","z":"2370baa7.398a9e","name":"60 min før solnedgang","autoname":"sunsetStart - sunset","tag":"eztimer - Nat","suspended":false,"sendEventsOnSuspend":false,"lat":"55.717159","lon":"9.613341","timerType":"1","startupMessage":true,"ontype":"1","ontimesun":"sunsetStart","ontimetod":"17:00","onproperty":"payload","onvaluetype":"str","onvalue":"10","onoffset":"-60","onrandomoffset":0,"onsuppressrepeats":false,"offtype":"1","offtimesun":"sunset","offtimetod":"dusk","offduration":"00:01:00","offproperty":"payload","offvaluetype":"num","offvalue":"0","offoffset":0,"offrandomoffset":0,"offsuppressrepeats":false,"mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":true,"sun":true,"x":300,"y":460,"wires":[["b03cd943.766f1"]],"outputLabels":["01"]},{"id":"b03cd943.766f1","type":"switch","z":"2370baa7.398a9e","name":"switch 10% Tænd Aften","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"},{"t":"eq","v":"10","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":630,"y":460,"wires":[[],["d0bdf24e.98e9c"]]},{"id":"33dc0585.a1ef0a","type":"switch","z":"2370baa7.398a9e","name":"switch 25%","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"},{"t":"eq","v":"25","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":590,"y":520,"wires":[[],["d0bdf24e.98e9c"]]},{"id":"35289361.6a912c","type":"switch","z":"2370baa7.398a9e","name":"switch 50%","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"},{"t":"eq","v":"50","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":590,"y":580,"wires":[[],["d0bdf24e.98e9c"]]},{"id":"c787c6be.8f5cb","type":"switch","z":"2370baa7.398a9e","name":"switch 75%","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"},{"t":"eq","v":"75","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":590,"y":640,"wires":[[],["d0bdf24e.98e9c"]]},{"id":"86f3fe42.4f13b","type":"switch","z":"2370baa7.398a9e","name":"switch 95% --> 5% for nat","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"95","vt":"str"},{"t":"eq","v":"0","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":640,"y":700,"wires":[["d0bdf24e.98e9c"],[]]},{"id":"88463f24.e2fcb8","type":"eztimer","z":"2370baa7.398a9e","name":"","autoname":"04:00:00 - nauticalDawn","tag":"eztimer - Dag","suspended":false,"sendEventsOnSuspend":false,"lat":"55.717159","lon":"9.613341","timerType":"1","startupMessage":true,"ontype":"2","ontimesun":"nightEnd","ontimetod":"04:00:00","onproperty":"payload","onvaluetype":"str","onvalue":"25","onoffset":0,"onrandomoffset":0,"onsuppressrepeats":false,"offtype":"1","offtimesun":"nauticalDawn","offtimetod":"dusk","offduration":"00:01:00","offproperty":"payload","offvaluetype":"num","offvalue":"0","offoffset":0,"offrandomoffset":0,"offsuppressrepeats":false,"mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":true,"sun":true,"x":310,"y":80,"wires":[["5b36d48e.a2dab4"]],"outputLabels":["01"]},{"id":"ac14508d.f71f7","type":"eztimer","z":"2370baa7.398a9e","name":"","autoname":"05:00:00 - dawn","tag":"eztimer - Dag","suspended":false,"sendEventsOnSuspend":false,"lat":"55.717159","lon":"9.613341","timerType":"1","startupMessage":true,"ontype":"2","ontimesun":"nauticalDawn","ontimetod":"05:00:00","onproperty":"payload","onvaluetype":"str","onvalue":"50","onoffset":0,"onrandomoffset":0,"onsuppressrepeats":true,"offtype":"1","offtimesun":"dawn","offtimetod":"dusk","offduration":"00:01:00","offproperty":"payload","offvaluetype":"num","offvalue":"0","offoffset":0,"offrandomoffset":0,"offsuppressrepeats":false,"mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":true,"sun":true,"x":280,"y":140,"wires":[["522f0b52.e2f684"]],"outputLabels":["02"]},{"id":"d8957d21.f3b7c8","type":"eztimer","z":"2370baa7.398a9e","name":"","autoname":"05:30:00 - sunrise","tag":"eztimer - Dag","suspended":false,"sendEventsOnSuspend":false,"lat":"55.717159","lon":"9.613341","timerType":"1","startupMessage":true,"ontype":"2","ontimesun":"dawn","ontimetod":"05:30:00","onproperty":"payload","onvaluetype":"str","onvalue":"75","onoffset":0,"onrandomoffset":0,"onsuppressrepeats":false,"offtype":"1","offtimesun":"sunrise","offtimetod":"dusk","offduration":"00:01:00","offproperty":"payload","offvaluetype":"num","offvalue":"0","offoffset":0,"offrandomoffset":0,"offsuppressrepeats":false,"mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":true,"sun":true,"x":290,"y":200,"wires":[["3b9a3d93.601cd2"]],"outputLabels":["03"]},{"id":"d4ccdec0.3bda6","type":"eztimer","z":"2370baa7.398a9e","name":"","autoname":"06:00:00 - sunriseEnd","tag":"eztimer - Dag","suspended":false,"sendEventsOnSuspend":false,"lat":"55.717159","lon":"9.613341","timerType":"1","startupMessage":true,"ontype":"2","ontimesun":"sunrise","ontimetod":"06:00:00","onproperty":"payload","onvaluetype":"str","onvalue":"95","onoffset":0,"onrandomoffset":0,"onsuppressrepeats":false,"offtype":"1","offtimesun":"sunriseEnd","offtimetod":"dusk","offduration":"00:01:00","offproperty":"payload","offvaluetype":"num","offvalue":"0","offoffset":"15","offrandomoffset":0,"offsuppressrepeats":false,"mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":true,"sun":true,"x":300,"y":260,"wires":[["a74c056.aa00978"]],"outputLabels":["04"]},{"id":"19fc9e43.ef9a72","type":"eztimer","z":"2370baa7.398a9e","name":"","autoname":"sunriseEnd - sunriseEnd","tag":"eztimer - Sluk","suspended":false,"sendEventsOnSuspend":false,"lat":"55.717159","lon":"9.613341","timerType":"1","startupMessage":true,"ontype":"1","ontimesun":"sunriseEnd","ontimetod":"17:00","onproperty":"payload","onvaluetype":"str","onvalue":"10","onoffset":"-50","onrandomoffset":0,"onsuppressrepeats":false,"offtype":"1","offtimesun":"sunriseEnd","offtimetod":"dusk","offduration":"00:01:00","offproperty":"payload","offvaluetype":"num","offvalue":"0","offoffset":"2","offrandomoffset":0,"offsuppressrepeats":false,"mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":true,"sun":true,"x":310,"y":320,"wires":[["a6d587ca.12a698"]],"outputLabels":["05"]},{"id":"5b36d48e.a2dab4","type":"switch","z":"2370baa7.398a9e","name":"switch 25%","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"},{"t":"eq","v":"25","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":590,"y":80,"wires":[[],["d0bdf24e.98e9c"]]},{"id":"522f0b52.e2f684","type":"switch","z":"2370baa7.398a9e","name":"switch 50%","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"},{"t":"eq","v":"50","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":590,"y":140,"wires":[[],["d0bdf24e.98e9c"]]},{"id":"3b9a3d93.601cd2","type":"switch","z":"2370baa7.398a9e","name":"switch 75%","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"},{"t":"eq","v":"75","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":590,"y":200,"wires":[[],["d0bdf24e.98e9c"]]},{"id":"a74c056.aa00978","type":"switch","z":"2370baa7.398a9e","name":"switch 95%","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"},{"t":"eq","v":"95","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":590,"y":260,"wires":[[],["d0bdf24e.98e9c"]]},{"id":"a6d587ca.12a698","type":"switch","z":"2370baa7.398a9e","name":"switch 0% Sluk Dag","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"},{"t":"eq","v":"10","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":620,"y":320,"wires":[[],["258dcb1d.ace5c4"]]},{"id":"258dcb1d.ace5c4","type":"api-call-service","z":"2370baa7.398a9e","name":"Gang UpLys Off","server":"4313e1a2.1e81c","version":1,"debugenabled":false,"service_domain":"light","service":"turn_off","entityId":"light.wled","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1060,"y":320,"wires":[["5e3bf90c.ab5ea8"]]},{"id":"575411ac.84b998","type":"eztimer","z":"2370baa7.398a9e","name":"","autoname":"00:30:00 - 03:59:50","tag":"eztimer - Nat","suspended":false,"sendEventsOnSuspend":false,"lat":"55.7025","lon":"9.7938","timerType":"1","startupMessage":true,"ontype":"2","ontimesun":"nadir","ontimetod":"00:30:00","onproperty":"payload","onvaluetype":"str","onvalue":"5","onoffset":0,"onrandomoffset":0,"onsuppressrepeats":false,"offtype":"2","offtimesun":"nightEnd","offtimetod":"03:59:50","offduration":"00:01:00","offproperty":"payload","offvaluetype":"num","offvalue":"0","offoffset":"","offrandomoffset":0,"offsuppressrepeats":false,"mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":true,"sun":true,"x":290,"y":760,"wires":[["ee83d6d2.207c38"]],"outputLabels":["05"]},{"id":"ee83d6d2.207c38","type":"switch","z":"2370baa7.398a9e","name":"switch 5% for nat","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"5","vt":"str"},{"t":"eq","v":"0","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":610,"y":760,"wires":[["d0bdf24e.98e9c"],[]]},{"id":"49fc38da.9587c8","type":"eztimer","z":"2370baa7.398a9e","name":"Køkken UpLys 30 min før - Aften Tænd","autoname":"sunsetStart - 00:29:00","tag":"eztimer","suspended":false,"sendEventsOnSuspend":false,"lat":"55.7025","lon":"9.7938","timerType":"1","startupMessage":true,"ontype":"1","ontimesun":"sunsetStart","ontimetod":"17:00","onproperty":"payload","onvaluetype":"str","onvalue":"1","onoffset":"-30","onrandomoffset":0,"onsuppressrepeats":false,"offtype":"2","offtimesun":"nadir","offtimetod":"00:29:00","offduration":"00:01:00","offproperty":"payload","offvaluetype":"str","offvalue":"0","offoffset":0,"offrandomoffset":0,"offsuppressrepeats":true,"mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":true,"sun":true,"x":360,"y":920,"wires":[["5fcb2dbe.2c9814"]],"outputLabels":["03"]},{"id":"5fcb2dbe.2c9814","type":"switch","z":"2370baa7.398a9e","name":"Aften Tænd","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"0","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":610,"y":920,"wires":[["62e05839.e7923"],[]]},{"id":"62e05839.e7923","type":"api-call-service","z":"2370baa7.398a9e","d":true,"name":"","server":"4313e1a2.1e81c","version":1,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.sw_kitchen_uplight","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":930,"y":920,"wires":[["4d23d1e1.4ad368"]]},{"id":"4d23d1e1.4ad368","type":"debug","z":"2370baa7.398a9e","d":true,"name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1190,"y":980,"wires":[]},{"id":"1b3e76e4.d2b671","type":"switch","z":"2370baa7.398a9e","name":"Morgen Tænd","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"0","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":620,"y":1040,"wires":[["62e05839.e7923"],[]]},{"id":"4f60c04f.560bd","type":"switch","z":"2370baa7.398a9e","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"},{"t":"eq","v":"1","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":590,"y":980,"wires":[["861f57c4.140c3"],[]]},{"id":"a7b723d6.09469","type":"eztimer","z":"2370baa7.398a9e","name":"Køkken UpLys - Nat Sluk","autoname":"00:30:00 - 03:59:00","tag":"eztimer","suspended":false,"sendEventsOnSuspend":false,"lat":"55.7025","lon":"9.7938","timerType":"1","startupMessage":true,"ontype":"2","ontimesun":"sunsetStart","ontimetod":"00:30:00","onproperty":"payload","onvaluetype":"str","onvalue":"0","onoffset":0,"onrandomoffset":0,"onsuppressrepeats":false,"offtype":"2","offtimesun":"dawn","offtimetod":"03:59:00","offduration":"00:01:00","offproperty":"payload","offvaluetype":"str","offvalue":"1","offoffset":0,"offrandomoffset":0,"offsuppressrepeats":true,"mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":true,"sun":true,"x":310,"y":980,"wires":[["4f60c04f.560bd"]],"outputLabels":["03"]},{"id":"861f57c4.140c3","type":"api-call-service","z":"2370baa7.398a9e","d":true,"name":"","server":"4313e1a2.1e81c","version":1,"debugenabled":false,"service_domain":"light","service":"turn_off","entityId":"light.sw_kitchen_uplight","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":930,"y":1060,"wires":[["4d23d1e1.4ad368"]]},{"id":"1dc6558b.9a339a","type":"switch","z":"2370baa7.398a9e","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"},{"t":"eq","v":"1","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":590,"y":1100,"wires":[["861f57c4.140c3"],[]]},{"id":"3ce2d157.04e46e","type":"eztimer","z":"93f17a64.30439","name":"solnedgang 10%","autoname":"sunsetStart - dusk","tag":"eztimer - Nat","suspended":false,"sendEventsOnSuspend":false,"lat":"55.717159","lon":"9.613341","timerType":"1","startupMessage":true,"ontype":"1","ontimesun":"sunsetStart","ontimetod":"17:00","onproperty":"payload","onvaluetype":"str","onvalue":"15","onoffset":"","onrandomoffset":0,"onsuppressrepeats":false,"offtype":"1","offtimesun":"dusk","offtimetod":"dusk","offduration":"00:01:00","offproperty":"payload","offvaluetype":"num","offvalue":"0","offoffset":"-30","offrandomoffset":0,"offsuppressrepeats":false,"mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":true,"sun":true,"x":110,"y":120,"wires":[["2993663.1f2601a"]],"outputLabels":["01"]},{"id":"2993663.1f2601a","type":"switch","z":"93f17a64.30439","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"10","vt":"str"},{"t":"eq","v":"0","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":350,"y":120,"wires":[["a3ac11e0.579818"],[]]},{"id":"8adbb599.1c051","type":"eztimer","z":"93f17a64.30439","name":"Aften 75%","autoname":"dusk - nadir","tag":"eztimer - Nat","suspended":false,"sendEventsOnSuspend":false,"lat":"55.717159","lon":"9.613341","timerType":"1","startupMessage":true,"ontype":"1","ontimesun":"dusk","ontimetod":"17:00","onproperty":"payload","onvaluetype":"str","onvalue":"75","onoffset":"-30","onrandomoffset":0,"onsuppressrepeats":false,"offtype":"1","offtimesun":"nadir","offtimetod":"dusk","offduration":"00:01:00","offproperty":"payload","offvaluetype":"num","offvalue":"0","offoffset":"","offrandomoffset":0,"offsuppressrepeats":false,"mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":true,"sun":true,"x":90,"y":200,"wires":[["61ea286a.f30c4"]],"outputLabels":["01"]},{"id":"61ea286a.f30c4","type":"switch","z":"93f17a64.30439","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"75","vt":"str"},{"t":"eq","v":"0","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":350,"y":200,"wires":[["cc4dbf7.16ef5c"],[]]},{"id":"63808ae8.598454","type":"eztimer","z":"93f17a64.30439","name":"Nat 20 %","autoname":"nadir - nightEnd","tag":"eztimer - Nat","suspended":false,"sendEventsOnSuspend":false,"lat":"55.717159","lon":"9.613341","timerType":"1","startupMessage":true,"ontype":"1","ontimesun":"nadir","ontimetod":"17:00","onproperty":"payload","onvaluetype":"str","onvalue":"20","onoffset":"","onrandomoffset":0,"onsuppressrepeats":false,"offtype":"1","offtimesun":"nightEnd","offtimetod":"dusk","offduration":"00:01:00","offproperty":"payload","offvaluetype":"num","offvalue":"0","offoffset":0,"offrandomoffset":0,"offsuppressrepeats":false,"mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":true,"sun":true,"x":80,"y":280,"wires":[["27cb13d5.eb6f04"]],"outputLabels":["01"]},{"id":"27cb13d5.eb6f04","type":"switch","z":"93f17a64.30439","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"20","vt":"str"},{"t":"eq","v":"0","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":350,"y":280,"wires":[["cc4dbf7.16ef5c"],[]]},{"id":"830f1e3.0274ce","type":"eztimer","z":"93f17a64.30439","name":"Morgen 10 %","autoname":"nightEnd - dawn","tag":"eztimer - Nat","suspended":false,"sendEventsOnSuspend":false,"lat":"55.717159","lon":"9.613341","timerType":"1","startupMessage":true,"ontype":"1","ontimesun":"nightEnd","ontimetod":"17:00","onproperty":"payload","onvaluetype":"str","onvalue":"10","onoffset":"","onrandomoffset":0,"onsuppressrepeats":false,"offtype":"1","offtimesun":"dawn","offtimetod":"dusk","offduration":"00:01:00","offproperty":"payload","offvaluetype":"num","offvalue":"0","offoffset":0,"offrandomoffset":0,"offsuppressrepeats":false,"mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":true,"sun":true,"x":100,"y":360,"wires":[["24ae04e3.d74f5c"]],"outputLabels":["01"]},{"id":"24ae04e3.d74f5c","type":"switch","z":"93f17a64.30439","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"10","vt":"str"},{"t":"eq","v":"0","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":350,"y":360,"wires":[["a3ac11e0.579818"],[]]},{"id":"fe488629.a163b8","type":"api-call-service","z":"93f17a64.30439","name":"","server":"4313e1a2.1e81c","version":1,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.bagdor_ned, light.fordor_ned","data":"{\"brightness_pct\": {{payload}}}","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":990,"y":200,"wires":[[]]},{"id":"f3ad0cea.6588b8","type":"eztimer","z":"93f17a64.30439","name":"Morgen 10 %","autoname":"dawn - sunsetStart","tag":"eztimer - Nat","suspended":false,"sendEventsOnSuspend":false,"lat":"55.717159","lon":"9.613341","timerType":"1","startupMessage":true,"ontype":"1","ontimesun":"dawn","ontimetod":"17:00","onproperty":"payload","onvaluetype":"str","onvalue":"1","onoffset":"","onrandomoffset":0,"onsuppressrepeats":false,"offtype":"1","offtimesun":"sunsetStart","offtimetod":"dusk","offduration":"00:01:00","offproperty":"payload","offvaluetype":"num","offvalue":"0","offoffset":0,"offrandomoffset":0,"offsuppressrepeats":false,"mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":true,"sun":true,"x":100,"y":480,"wires":[["741df7ae.22c1d8"]],"outputLabels":["01"]},{"id":"741df7ae.22c1d8","type":"switch","z":"93f17a64.30439","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"0","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":350,"y":480,"wires":[["6fcb1e9f.5b0ff8"],[]]},{"id":"6fcb1e9f.5b0ff8","type":"api-call-service","z":"93f17a64.30439","name":"","server":"4313e1a2.1e81c","version":1,"debugenabled":false,"service_domain":"light","service":"turn_off","entityId":"light.bagdor_ude_ned, light.bagdor_ude_op, light.fordor_ude_ned, light.fordor_ude_op","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":610,"y":480,"wires":[[]]},{"id":"a3ac11e0.579818","type":"api-call-service","z":"93f17a64.30439","name":"","server":"4313e1a2.1e81c","version":1,"debugenabled":false,"service_domain":"light","service":"turn_off","entityId":"light.fordor_ude_op, light.bagdor_ude_op","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":610,"y":140,"wires":[["fe488629.a163b8"]]},{"id":"cc4dbf7.16ef5c","type":"api-call-service","z":"93f17a64.30439","name":"","server":"4313e1a2.1e81c","version":1,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.bagdor_op, light.fordor_op","data":"{\"brightness_pct\":\"30\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":610,"y":280,"wires":[["fe488629.a163b8"]]},{"id":"141950f.b26b1af","type":"eztimer","z":"2370baa7.398a9e","name":"Køkken UpLys - Morgen Tænd","autoname":"04:00:00 - sunrise","tag":"eztimer","suspended":false,"sendEventsOnSuspend":false,"lat":"55.7025","lon":"9.7938","timerType":"1","startupMessage":true,"ontype":"2","ontimesun":"sunsetStart","ontimetod":"04:00:00","onproperty":"payload","onvaluetype":"str","onvalue":"1","onoffset":0,"onrandomoffset":0,"onsuppressrepeats":false,"offtype":"1","offtimesun":"sunrise","offtimetod":"dusk","offduration":"00:01:00","offproperty":"payload","offvaluetype":"str","offvalue":"0","offoffset":0,"offrandomoffset":0,"offsuppressrepeats":true,"mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":true,"sun":true,"x":330,"y":1040,"wires":[["1b3e76e4.d2b671"]],"outputLabels":["03"]},{"id":"45b36fa9.348e28","type":"eztimer","z":"2370baa7.398a9e","name":"Køkken UpLys - Nat Sluk","autoname":"sunriseEnd - goldenHourEnd","tag":"eztimer","suspended":false,"sendEventsOnSuspend":false,"lat":"55.7025","lon":"9.7938","timerType":"1","startupMessage":true,"ontype":"1","ontimesun":"sunriseEnd","ontimetod":"00:30:00","onproperty":"payload","onvaluetype":"str","onvalue":"0","onoffset":0,"onrandomoffset":0,"onsuppressrepeats":false,"offtype":"1","offtimesun":"goldenHourEnd","offtimetod":"","offduration":"00:01:00","offproperty":"payload","offvaluetype":"str","offvalue":"1","offoffset":0,"offrandomoffset":0,"offsuppressrepeats":true,"mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":true,"sun":true,"x":310,"y":1100,"wires":[["1dc6558b.9a339a"]],"outputLabels":["03"]},{"id":"80ec228.670e1e","type":"debug","z":"93f17a64.30439","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":980,"y":540,"wires":[]},{"id":"3561ab71.512004","type":"api-call-service","z":"63aab906.2dd118","name":"","server":"4313e1a2.1e81c","version":1,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.test_light","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":550,"y":160,"wires":[["1ef8cf3b.098071"]]},{"id":"1ef8cf3b.098071","type":"debug","z":"63aab906.2dd118","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":790,"y":120,"wires":[]},{"id":"6107c245.c765ec","type":"eztimer","z":"63aab906.2dd118","name":"solnedgang 10%","autoname":"17:00 - 18:55","tag":"eztimer - Nat","suspended":false,"sendEventsOnSuspend":false,"lat":"55.717159","lon":"9.613341","timerType":"1","startupMessage":true,"ontype":"2","ontimesun":"sunsetStart","ontimetod":"17:00","onproperty":"payload","onvaluetype":"str","onvalue":"15","onoffset":"","onrandomoffset":0,"onsuppressrepeats":false,"offtype":"2","offtimesun":"dusk","offtimetod":"18:55","offduration":"00:01:00","offproperty":"payload","offvaluetype":"str","offvalue":"0","offoffset":"","offrandomoffset":0,"offsuppressrepeats":false,"mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":true,"sun":true,"x":130,"y":180,"wires":[["92da74d1.bc4fb8"]],"outputLabels":["01"]},{"id":"92da74d1.bc4fb8","type":"switch","z":"63aab906.2dd118","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"15","vt":"str"},{"t":"eq","v":"0","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":330,"y":180,"wires":[["3561ab71.512004"],["ec44a14c.c5d7"]]},{"id":"ec44a14c.c5d7","type":"api-call-service","z":"63aab906.2dd118","name":"","server":"4313e1a2.1e81c","version":1,"debugenabled":false,"service_domain":"light","service":"turn_off","entityId":"light.test_light","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":560,"y":260,"wires":[["1ef8cf3b.098071"]]},{"id":"26dfda65.7a1136","type":"deconz-input","z":"63aab906.2dd118","name":"","server":"a7d360e9.a9cb3","device":{"length":0,"prevObject":{"length":0,"prevObject":{"0":{"location":{"href":"http://kristiansen.local:8123/api/hassio_ingress/G9fiNn7AQDDs9TCtPECpoiXih8xsdaXoPr5Thp4IFEc/#flow/63aab906.2dd118","ancestorOrigins":{"0":"http://kristiansen.local:8123"},"origin":"http://kristiansen.local:8123","protocol":"http:","host":"kristiansen.local:8123","hostname":"kristiansen.local","port":"8123","pathname":"/api/hassio_ingress/G9fiNn7AQDDs9TCtPECpoiXih8xsdaXoPr5Thp4IFEc/","search":"","hash":"#flow/63aab906.2dd118"},"jQuery341031176313031100891":{"events":{"mouseup":[{"type":"mouseup","origType":"mouseup","guid":3,"namespace":""}],"click":[{"type":"click","origType":"click","data":null,"guid":2486,"namespace":""},{"type":"click","origType":"click","data":null,"guid":2499,"namespace":""},{"type":"click","origType":"click","data":null,"guid":2509,"namespace":""},{"type":"click","origType":"click","data":null,"guid":2520,"namespace":""},{"type":"click","origType":"click","data":null,"guid":2534,"namespace":""},{"type":"click","origType":"click","data":null,"guid":2540,"namespace":""},{"type":"click","origType":"click","data":null,"guid":2547,"namespace":""},{"type":"click","origType":"click","data":null,"guid":2715,"namespace":""},{"type":"click","origType":"click","data":null,"guid":2721,"namespace":""}]},"focusin":3}},"length":1}}},"device_name":"","state":"","output":"always","outputAtStartup":true,"x":580,"y":380,"wires":[[],[]]}]